@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Cabecera ------------------------------ */

.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 70px 20px;
  height: auto;
  align-items: center;
}

.structurenav {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.structurenav li {
  text-decoration: none;
  list-style-type: none;
  line-height: 16px;
  padding: 16px;
}

.structurenav a {
  text-decoration: none;
  color: #6b708d;
  font-weight: 500;
}

.structurenav a:hover, a:active {
  color: #072ac8;
}

.navbar button {
  background-color: #072ac8;
  color: #ffffff;
  width: 120px;
  height: 40px;
  border: none; 
}

.navbar a {
  display: flex;
  justify-content: center;
}

.navbar button:hover{
  background-color: #292e47;
}

/* ------------------------------ Sección 1 ------------------------------ */
 .generalinformation{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.divinformation h1 {
  font-size: 60px;
  padding-top: 80px;
} 

.divinformation p {
  font-size: 20px;
  opacity: .6;
  padding-top: 30px;
  padding-right: 66px;
  line-height: 1.5;
}

.divinformation {
  width: 500px;
}

.centralimg {
  width: 600px;
  height: 700px;
  background-image: url(../images/hero-section/hero-image.png);
  background-size: 550px;
  background-repeat: no-repeat;
  position: relative;
}

.boximgleft {
  float: left;
  width: 300px;
  position: absolute;
  top: -30px;
  left: -80px;
}

.boximgright {
  width: 300px;
  position: absolute;
  bottom: -80px;
  right: -60px;
}

.seeourwork {
  text-decoration: none; 
  padding-right: 10px; 
}

.getintouch {
  text-decoration: none;
  background-color: #072ac8;
  color: #ffffff;
  padding: 15px; 
}
.workboxes {
  padding-top: 50px;
}

.getintouch:hover {
  background-color: #292e47;
}
/* ------------------------------ Sección 2 ------------------------------ */

.logomarcas {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  margin: 76px 100px; 
}

/* ------------------------------ Sección 3 ------------------------------ */

.recentprojects h2 {
font-size: 40px;
margin-left: 220px; 
font-weight: 540;
}

.container {
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  margin: 50px 100px; 
  align-items: center;
  padding: 10px 100px;
}

.projects img {
  width: 330px;
  height: 230px;
}

.projects {
  background-color: #ffffff;; 
}

.projects p {
  text-align: left;
  padding: 20px;
}

.projects h3 {
  text-align: left;
  padding: 5px 20px;
  font-size: 24px;
  color: #000000;
  font-weight: 500;
}

.projects button {
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  color: #072ac8;
  font-size: 16px;
  text-align: left;
  padding: 20px;
}

/* ------------------------------ Sección 4 ------------------------------ */
.opinions {
  margin-left: 100px; 
  margin-right: 100px;
}

.opinionclients {
  background-image: url(../images/testimonial-section/orbit.png);
  background-size: 1320px;
  background-repeat: no-repeat;
  background-color: #292e47;
  padding: 80px 50px;
  height: 615px;
  background-position: center;
}

.opinionclients {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100%;
  grid-gap: 10px;
}

.opinionleft {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opinioncenter {
  /* background-color: blue; */
  align-items: center;
  display: flex;
  flex-direction: column;;
}

.opinioncenter img {
  width: 80px;
  height: 80px;
  border-radius: 80%;
}

.opinionright {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  width: 150px;
}

.icon1 {
  padding-bottom: 180px;
}

.titleopinions{
  color: #ffffff;
  text-align: left;
  font-size: 40px;
  padding-bottom: 100px;
  font-weight: bold;
}

.opinioncenter h3{
  color: #ffc600;
  font-size: 30px;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  padding-bottom: 160px;
}

/* ------------------------------ Sección 5 ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sección 6 ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
