@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Cabecera ------------------------------ */

.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
}

.structurenav {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.structurenav li {
  text-decoration: none;
  list-style-type: none;
  line-height: 1rem;
  padding: 1rem;
}

.structurenav a {
  text-decoration: none;
}

.structurenav a:hover, a:active {
  color: #072ac8;
}

.navbar button {
  background-color: #072ac8;
  color: white;
  width: 100px;
  height: 40px;
  border: none; 
}

.navbar a {
  display: flex;
  justify-content: center;
}

.navbar button:hover{
  background-color: #000000da;
}

/* ------------------------------ Sección 1 ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sección 2 ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sección 3 ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sección 4 ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sección 5 ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sección 6 ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
